---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Teaching Assistant - The Chinese University of Hong Kong</h2>
<hr style="height: 1px; border: none; background-color: #eeeeee; margin-top: 0; margin-bottom: 20px;">

Business Information Systems (Undergraduate) - Spring 2025
Seminar on Applied Business Management Research (DBA) - Fall 2024, Fall, 2025
Cyber Security (Master) - Fall 2024
Strategic Information System (EMBA) - Fall 2023
Database and Big Data Management (Master) - Spring 2023

<h2> Instructor - The City University of Hong Kong</h2>
<hr style="height: 1px; border: none; background-color: #eeeeee; margin-top: 0; margin-bottom: 20px;">

Information Management (Undergraduate) - Spring 2021
<li>Evaluation: 6.12/7.0 (class size: 32)</li>