---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Teaching Assistant - The Chinese University of Hong Kong</h2>
<hr style="height: 1px; border: none; background-color: #eeeeee; margin-top: 0; margin-bottom: 20px;">

<ul>
  <li>Business Information Systems (Undergraduate) - Spring 2025</li>
  <li>Seminar on Applied Business Management Research (DBA) - Fall 2024, Fall 2025</li>
  <li>Cyber Security (Master) - Fall 2024</li>
  <li>Strategic Information System (EMBA) - Fall 2023</li>
  <li>Database and Big Data Management (Master) - Spring 2023</li>
</ul>

<h2>Instructor - The City University of Hong Kong</h2>
<hr style="height: 1px; border: none; background-color: #eeeeee; margin-top: 0; margin-bottom: 20px;">

<ul>
  <li>Information Management (Undergraduate) - Spring 2021
    <ul>
      <li>Evaluation: 6.12/7.0 (class size: 32)</li>
      <li>
        <i>Selected Student Comments:</i>
        <blockquote style="border-left: 2px solid #ccc; margin-left: 20px; padding-left: 15px; color: #555;">
          • Activities as well as interesting activities designed by humorous professor<br>
          • There are many group collaborations that have improved my ability to work together<br>
          • Documents before every lecture are very helpful.
        </blockquote>
      </li>
    </ul>
  </li>
</ul>